:root {
  --cor-0: #ffffff;
  --cor-1: #272c2b;
  --cor-2: #414645;
  --cor-3: #696e6d;
  --cor-4: #d2ddd9;
  --cor-5: #e8f2ee;
  --cor-6: #f0f8f5;
  --cor-p0: #14d49b;
  --cor-p1: #28ebbc;
  --cor-p2: #1fe3a9;
  --cor-p3: #09ae73;
  --cor-p4: #04905e;
  --cor-s1: #f98e71;
  --cor-s2: #ffa16c;
}

/* CORES DE TXT */

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}

/* COR SECUNDARIA */

.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}

/* COR PRIMARIA */

.cor-p0 {
  color: var(--cor-p0);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
